@import url("https://fonts.googleapis.com/css2?family=Short+Stack&family=Vazirmatn:wght@300&display=swap");
.hide {
  visibility: hidden !important;
}

.openul {
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
  height: auto !important;
  display: block !important;
}

.flex, header .logo, header .menu .desk-menu > li > a, .quick-link > div > a > .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.center {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.title {
  font-weight: 900;
  font-size: 2rem;
  color: #000;
  text-align: right;
}

.more {
  font-weight: 900;
  color: var(--yellow);
  font-size: 1.2rem;
  text-align: left !important;
}

.btn-yellow {
  border: none;
  background-color: var(--yellow);
  color: #000;
  font-weight: 500;
  border-radius: 1.5rem;
  height: 2.5rem;
  padding: 0.6rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  line-height: 1 !important;
}

.btn-white {
  border: none;
  background-color: var(--light);
  color: #000;
  font-weight: 500;
  border-radius: 1.5rem;
  height: 2.5rem;
  padding: 0.6rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  line-height: 1 !important;
}

.arrow {
  padding: 0 1.2rem;
  width: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.arrow span {
  border: 0.3rem solid #e4e4e4a5;
  border-left: none;
  border-bottom: none;
  width: 1.25rem;
  height: 1.25rem;
}

.arrow > #arrow-r {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #7070707c;
  position: absolute right center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow > #arrow-r span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow > #arrow-l {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #7070707c;
  position: absolute left center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow > #arrow-l span {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Short Stack', cursive;
  font-family: 'Vazirmatn', sans-serif;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  height: 5.6rem;
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 600;
  background-color: #000;
}

header .logo {
  background-color: var(--yellow);
  height: 5.6rem;
}

header .menu {
  height: inherit;
  background-color: var(--yellow);
  color: #000;
  height: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

header .menu .desk-menu {
  position: relative;
  height: 5.6rem;
  direction: rtl;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 0.7rem;
  padding: 0 !important;
}

header .menu .desk-menu > li {
  height: inherit;
}

header .menu .desk-menu > li > a {
  color: #000;
  padding: 0 0.3rem;
  height: 100%;
  font-size: 0.9rem;
}

header .menu .desk-menu > li > a > i {
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  margin: 0 0.3rem;
}

header .menu .desk-menu > li:hover > ul {
  display: block !important;
  z-index: 200;
}

header .menu .desk-menu > li ul {
  position: absolute;
  background-color: #1d1d1d;
  border-radius: 1rem;
  text-align: right;
  padding: 0;
}

header .menu .desk-menu > li ul > li {
  min-width: 9.4rem;
  height: 3rem;
  border-bottom: 1px solid #707070;
  font-weight: 700;
  direction: rtl;
  padding: 1.25rem 1.9rem !important;
  width: 100%;
}

header .menu .desk-menu > li ul > li:hover {
  background-color: #4d4d4d;
}

header .menu .desk-menu > li ul > li > a {
  width: 100%;
  color: #fff;
  font-size: 0.9rem;
}

header .menu .desk-menu > li ul > li:hover > ul {
  display: block !important;
}

header .menu .desk-menu > li ul > li > ul {
  min-width: 9rem;
}

header .menu .menu-mob > .menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

header .menu .menu-mob > .menu-icon > span {
  display: block;
  height: 4px;
  width: 22px;
  margin-top: 5px;
  background-color: white;
  -webkit-transition: 1s all;
  transition: 1s all;
}

header .menu .menu-mob > .menu-icon .transform:nth-of-type(1) {
  -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
          transform: translate3d(0, 7px, 0) rotate(45deg);
}

header .menu .menu-mob > .menu-icon .transform:nth-of-type(2) {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}

header .menu .menu-mob > .menu-icon .transform:nth-of-type(3) {
  -webkit-transform: translate3d(0, -7px, 0) rotate(-45deg);
          transform: translate3d(0, -7px, 0) rotate(-45deg);
}

header .menu > .search {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.25rem;
}

header .menu > .search i {
  color: #000;
  font-size: 1.5rem;
}

header .gen {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .gen a {
  color: var(--yellow);
  font-size: 1rem;
}

.slider1-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider1-container svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  fill: #fff;
}

.slider1-container .slider {
  padding: 0 !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  line-height: 190%;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

.slider1-container .slider > .slide {
  position: relative;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slider1-container .slider > .slide .bg {
  width: 100%;
}

.slider1-container .slider > .slide .bg > img {
  width: 100%;
}

.slider1-container .slider > .slide .discription {
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider1-container .slider > .slide .discription > h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2;
}

.slider1-container .slider > .slide .discription p {
  font-size: 1.8rem;
  line-height: 2;
}

.slider1-container .slider > .slide .discription button {
  margin-top: 1.9rem;
}

.quick-link {
  min-height: 6.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 50;
  padding: 0 6.2rem;
}

.quick-link > div {
  height: 6.2rem;
  border-radius: 0.6rem;
  margin: -3rem 0 3.8rem 0;
  padding: 0 0.2rem;
}

.quick-link > div > a {
  -webkit-box-shadow: 0px 4px 0.75rem 0 #00000029;
          box-shadow: 0px 4px 0.75rem 0 #00000029;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: #000;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 0.6rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.quick-link > div > a > .icon {
  width: 56px;
  height: 56px;
  min-width: 56px;
  border-radius: 50%;
  border: 1px solid #E5E5E5;
  margin-left: 0.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.quick-link > div > a > .icon > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 48px;
  height: 48px;
}

.news-slide {
  overflow: hidden;
}

.news-slide .top-slider2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-slide .slider-container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
}

.news-slide .slider-container .slider2 {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.news-slide .slider-container .slider2 .news {
  position: relative;
  padding: 1.5rem;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.news-slide .slider-container .slider2 .news > a {
  -webkit-box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
          box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b;
  border-radius: 1.25rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-slide .slider-container .slider2 .news > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9));
  border-radius: 1.25rem;
}

.news-slide .slider-container .slider2 .news > a .img {
  height: 100%;
  width: 100%;
}

.news-slide .slider-container .slider2 .news > a .img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25rem;
}

.news-slide .slider-container .slider2 .news > a h3 {
  padding: 5px;
  direction: rtl;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.1rem;
  color: white;
  z-index: 3;
  text-align: right;
}

.digital-product {
  width: 100%;
  position: relative;
  margin: 0 !important;
}

.digital-product svg {
  position: absolute;
  bottom: -1px;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0 !important;
  fill: #fff;
}

.digital-product .slider2-container > .top {
  height: 6rem;
  background-color: #252525;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.digital-product .slider2-container > .top .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: calc(100%/12);
  padding: 0 !important;
}

.digital-product .slider2-container > .top .nav-item > .item {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 3rem;
  z-index: 200;
}

.digital-product .slider2-container > .top .nav-item > .item:hover {
  background-color: #2D2D2D;
  border-radius: 1.5rem;
  padding: 0.2rem;
  height: 7.8rem;
  width: 6rem;
  margin-top: 2.85rem;
}

.digital-product .slider2-container > .top .nav-item > .item:hover > .logo > .active-icon {
  display: block;
  height: 3.75rem;
  width: auto;
  opacity: 1;
}

.digital-product .slider2-container > .top .nav-item > .item:hover > .logo > figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
}

.digital-product .slider2-container > .top .nav-item > .item:hover > .logo > .inactive-icon {
  display: none;
}

.digital-product .slider2-container > .top .nav-item > .item .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 !important;
}

.digital-product .slider2-container > .top .nav-item > .item .logo img {
  width: 100%;
}

.digital-product .slider2-container > .top .nav-item > .item .logo .active-icon {
  display: none;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 0;
}

.digital-product .slider2-container > .top .nav-item > .item .logo figcaption {
  display: none;
  font-size: 14px;
  font-weight: 700;
  color: #B7BABA;
  text-align: center;
  line-height: 1.5;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  word-break: break-word;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 57px;
}

.digital-product .slider2-container > .top .nav-item .active {
  background-color: #2D2D2D;
  border-radius: 1.5rem;
  padding: 0.2rem;
  height: 7.8rem;
  width: 6rem;
  margin-top: 2.85rem;
}

.digital-product .slider2-container > .top .nav-item .active > .logo > .active-icon {
  display: block;
  height: 3.75rem;
  width: auto;
  opacity: 1;
}

.digital-product .slider2-container > .top .nav-item .active > .logo > figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
}

.digital-product .slider2-container > .top .nav-item .active > .logo > .inactive-icon {
  display: none;
}

.digital-product .slider2-container .buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #7F7F7F;
  padding: 50px 0 !important;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.digital-product .slider2-container .buttom .active {
  width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 1 !important;
}

.digital-product .slider2-container .buttom .content-wraper {
  width: 0;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  display: none;
  -webkit-transition: 1s all;
  transition: 1s all;
  overflow: hidden;
}

.digital-product .slider2-container .buttom .content-wraper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.digital-product .slider2-container .buttom .content-wraper > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 5rem;
}

.digital-product .slider2-container .buttom .content-wraper > .content > h2 {
  width: 100%;
  font-size: 2.2rem;
  font-weight: 900;
}

.digital-product .slider2-container .buttom .content-wraper > .content p {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

.digital-product .slider2-container .buttom .content-wraper > .content .btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.digital-product .slider2-container .buttom .content-wraper > .content .btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.digital-product .slider2-container .buttom .content-wraper > .content .btns .brd-w {
  border: 2px solid #fff;
  background-color: transparent;
  width: 12.75rem;
  height: 3.75rem;
  border-radius: 2rem;
  padding: 0 1.25rem;
  margin-left: 1.25rem;
}

.digital-product .slider2-container .buttom .content-wraper > .content .btns .brd-n {
  border: none;
  background-color: #ffd633;
  width: 12.75rem;
  height: 3.75rem;
  border-radius: 2rem;
  padding: 0 1.25rem;
  color: #000;
}

.digital-product .slider2-container .buttom .content-wraper > .content .btns .brd-n > i {
  color: #fff;
}

@-webkit-keyframes active {
  to {
    width: 100% !important;
  }
}

@keyframes active {
  to {
    width: 100% !important;
  }
}

.shopping {
  width: 100%;
  padding: 6.2rem 0 !important;
  position: relative;
}

.shopping svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  fill: #f2f2f2;
  padding: 0 !important;
}

.shopping .shop-desk {
  padding: 1.25rem 3rem;
}

.shopping .shop-desk > .menu > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 1.6rem;
  border-bottom: 0.5px solid #9696968f;
  padding: 1.25rem 0.75rem;
  font-weight: 800;
}

.shopping .shop-desk > .menu > a > .icon {
  border: 0.5px solid var(--yellow);
  border-radius: 50%;
  margin-left: 1rem;
}

.shopping .shop-desk > .content {
  font-size: 1.2rem;
}

.shopping .shop-desk > .content > .active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.shopping .shop-desk > .content > div {
  display: none;
}

.shopping .shop-desk > .content > div > p {
  font-weight: 600;
}

.shopping .shop-desk > .content > div > .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem 0.6rem;
  -webkit-box-shadow: 0 4px 0.75rem 0 rgba(0, 0, 0, 0.078);
          box-shadow: 0 4px 0.75rem 0 rgba(0, 0, 0, 0.078);
  border: 1px solid #e5e5e5;
  height: 380px;
  margin: 1.25rem 0.6rem;
}

.shopping .shop-desk > .content > div > .sub-content > * {
  width: 100%;
}

.shopping .shop-desk > .content > div > .sub-content .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shopping .shop-desk > .content > div > .sub-content p {
  padding: 0 1.25rem;
  border-bottom: 0.5px solid #9696968f;
}

.shopping .shop-desk > .content > div > .sub-content > ul > li {
  padding-right: 1.25rem;
  font-size: 1rem;
  position: relative;
}

.shopping .shop-desk > .content > div > .sub-content > ul > li::before {
  content: '';
  background-color: #7F7F7F;
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 0;
}

.shopping .shop-desk > .content > div > .sub-content a {
  height: 3rem;
  width: 100%;
  padding: 0 1.25rem;
  margin-top: 0.6rem;
  background-color: var(--yellow);
  font-weight: 500;
  border: none;
  border-radius: 1.5rem;
  color: black;
  line-height: 1 !important;
  letter-spacing: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.shopping .shop-desk > .content > div > .sub-content a > i {
  color: #fff;
}

.shopping .shop-mob > ul > li {
  width: 100%;
  font-size: 2rem;
}

.shopping .shop-mob > ul > li > a {
  font-size: 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 800;
  color: #4d4d4dd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping .shop-mob > ul > li > a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping .shop-mob > ul > li > a > div > .icon {
  border: 0.5px solid #9493938f;
  border-radius: 50%;
  margin-left: 1rem;
}

.shopping .shop-mob > ul > li > a > span {
  display: block;
  width: 2rem;
  height: 2rem;
  border-bottom: 4px solid var(--yellow);
  border-right: 4px solid var(--yellow);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.shopping .shop-mob > ul > li .content {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
  overflow: hidden;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.shopping .shop-mob > ul > li .content > p {
  font-weight: 600;
}

.shopping .shop-mob > ul > li .content > .contain {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.shopping .shop-mob > ul > li .content > .contain .sub-content {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 1.2rem;
  -webkit-box-shadow: 0 4px 1.5rem 0 rgba(0, 0, 0, 0.078);
          box-shadow: 0 4px 1.5rem 0 rgba(0, 0, 0, 0.078);
  border: 1px solid #e5e5e5;
  height: 60vh;
  margin: 2.5rem 1.2rem;
}

.shopping .shop-mob > ul > li .content > .contain .sub-content > * {
  width: 100%;
}

.shopping .shop-mob > ul > li .content > .contain .sub-content .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shopping .shop-mob > ul > li .content > .contain .sub-content p {
  padding: 0 2.5rem;
  border-bottom: 0.5px solid #9696968f;
  text-align: center;
  font-weight: 800;
}

.shopping .shop-mob > ul > li .content > .contain .sub-content > ul > li {
  padding-right: 2.5rem;
  font-size: 1.5rem;
  position: relative;
}

.shopping .shop-mob > ul > li .content > .contain .sub-content > ul > li::before {
  content: '';
  background-color: #7F7F7F;
  width: 0.4rem;
  height: 0.4rem;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 0;
}

.shopping .shop-mob > ul > li .content > .contain .sub-content a {
  height: 6rem;
  width: 100%;
  padding: 0 2.5rem;
  margin-top: 1.2rem;
  background-color: var(--yellow);
  font-weight: 500;
  border: none;
  border-radius: 3rem;
  color: black;
  line-height: 1 !important;
  letter-spacing: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.shopping .shop-mob > ul > li .content > .contain .sub-content a > i {
  color: #fff;
}

.row {
  margin: 0 !important;
}

.irancel-box {
  background-color: #f2f2f2;
  padding: 3rem 0px;
  position: relative;
}

.irancel-box svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  fill: #1d1d1d;
}

.irancel-box > .flex, header .irancel-box > .logo, header .menu .desk-menu > li.irancel-box > a, .quick-link > div > a.irancel-box > .icon {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

.irancel-box > .flex .s-flex, header .irancel-box > .logo .s-flex, header .menu .desk-menu > li.irancel-box > a .s-flex, .quick-link > div > a.irancel-box > .icon .s-flex {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.irancel-box > .flex .s-flex .icon, header .irancel-box > .logo .s-flex .icon, header .menu .desk-menu > li.irancel-box > a .s-flex .icon, .quick-link > div > a.irancel-box > .icon .s-flex .icon {
  width: 11.25rem;
  height: 11.25rem;
  min-width: 11.25rem;
}

.irancel-box > .flex .s-flex .icon > img, header .irancel-box > .logo .s-flex .icon > img, header .menu .desk-menu > li.irancel-box > a .s-flex .icon > img, .quick-link > div > a.irancel-box > .icon .s-flex .icon > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.irancel-box > .flex .s-flex .content, header .irancel-box > .logo .s-flex .content, header .menu .desk-menu > li.irancel-box > a .s-flex .content, .quick-link > div > a.irancel-box > .icon .s-flex .content {
  margin: 0 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.irancel-box > .flex a, header .irancel-box > .logo a, header .menu .desk-menu > li.irancel-box > a a, .quick-link > div > a.irancel-box > .icon a {
  height: 3rem;
  width: 15.5rem;
  padding: 0 1.25rem;
  margin-top: 0.6rem;
  background-color: var(--yellow);
  font-weight: 500;
  border: none;
  border-radius: 1.5rem;
  color: black;
  line-height: 1 !important;
  letter-spacing: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.irancel-box > .flex a > i, header .irancel-box > .logo a > i, header .menu .desk-menu > li.irancel-box > a a > i, .quick-link > div > a.irancel-box > .icon a > i {
  color: #fff;
}

.irancel-box .desk-box {
  width: 90%;
  margin: 3rem auto;
}

.irancel-box .desk-box .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.irancel-box .desk-box .main-container .r-container a {
  width: 40vw;
  height: 40vw;
}

.irancel-box .desk-box .main-container .r-container a > img {
  border-top-right-radius: 1.9rem;
  border-bottom-right-radius: 1.9rem;
}

.irancel-box .desk-box .main-container .l-container a {
  width: 20vw;
  height: 20vw;
}

.irancel-box .desk-box .main-container .l-container a:nth-of-type(2) > img {
  border-top-left-radius: 1.9rem;
}

.irancel-box .desk-box .main-container .l-container a:nth-of-type(4) > img {
  border-bottom-left-radius: 1.9rem;
}

.irancel-box .desk-box .main-container a {
  margin: 0 1vw 1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.irancel-box .desk-box .main-container a:hover > img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.irancel-box .desk-box .main-container a:hover > .text {
  opacity: 1;
}

.irancel-box .desk-box .main-container a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.irancel-box .desk-box .main-container a > .text {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  color: #fff;
  padding: 1.25rem;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  overflow: hidden;
}

footer .top-footer {
  background-color: #1d1d1d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .top-footer > svg {
  fill: #f2f2f2;
}

footer .top-footer > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .top-footer > ul > li {
  margin-top: 1.5rem;
}

footer .top-footer > ul > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #fff;
  padding: 2px 0;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
}

footer .top-footer > ul > li .title {
  font-weight: 900;
  font-size: 1.2rem;
}

footer .top-footer > ul > li .title > .rotate {
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3rem;
  background-color: #f2f2f2;
}

footer .bottom-footer .custom-tooltip.tooltip > .tooltip-inner {
  padding: 0.6rem;
  line-height: 1.9rem;
  background-color: #6a6a6a;
  color: #000;
  font-size: 0.9rem;
}

footer .bottom-footer > .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .bottom-footer > .contact > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #252525;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .bottom-footer > .contact .icon > a > i {
  color: #6a6a6a;
  font-size: 1.5rem;
  -webkit-animation: 1s ease forwards;
          animation: 1s ease forwards;
}

footer .bottom-footer > .icon > img {
  width: 7.8rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .bottom-footer > .join {
  height: 100%;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .bottom-footer > .join > * {
  width: 100%;
  margin: 0.6rem 0;
}

footer .bottom-footer > .join div {
  position: relative;
}

footer .bottom-footer > .join div input {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid #252525;
  border-radius: 1.25rem;
}

footer .bottom-footer > .join div label {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .bottom-footer > .join div label > i {
  font-size: 1.5rem;
  color: #4d4d4d;
}

footer .bottom-footer > .join button {
  background-color: var(--yellow);
  color: #1d1d1d;
  border: none;
  border-radius: 1.25rem;
  padding: 0.6rem;
  text-align: center;
  width: 100%;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: translate(720deg);
            transform: translate(720deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: translate(720deg);
            transform: translate(720deg);
  }
}
/*# sourceMappingURL=generalstyle.css.map */